@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');
* {
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
    text-align: justify;}
body {
    background-image: url('../SoloLevelivgpart1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    font-family: Metrophobic;
   
}

h1 {
    text-align: center;
    margin: 0px 150px;
    color: aliceblue;
    border: black solid;
    padding:0 20px ;
    background-color: rgba(0, 0, 0, 0.521);
}
h2 {
    color: #FA0069;
    
}
.box1, .box2{ 
    color: rgb(0, 0, 0); 
    text-align: justify;
    padding: 0 200px;
    text-align: center;
    border: solid;
    background-color: aliceblue;
    margin: 0 100px;

}

img {
    border: solid;

}

a {
    
    color: aliceblue;
    background-color: #284add;
    font-weight: 20px;
    border: #284add;
    padding: 0px 150px;
    border-radius: 10px;
    margin-top: 20px;
}
